*{
	box-sizing:border-box;
}
body {
	background-color:#FFFFFF;
	color: #666666;
	font-family:sans-serif;
}
header {
   	background-color: #00B386;
      	color: #FFFFFF;
	height: 175px;
	text-align:center;
	padding-top:30px;
	padding-left:3em;
	display: block;
}
h1{	
	margin-bottom: 0;
	margin-top:0;
	font-size:3em;
	letter-spacing:.25em;
	font-family:Times;
}
nav {
	float:left;
	width:160px;
	font-weight:700;
	font-size:120%;
	padding: 1.5em;
	display: block;
}
nav A{
	text-decoration: none;
}
nav ul{
	list-style-type:none;
	margin:0;
	padding-left:0;
	font-size:1.2em;
}
a:link{
	color:#00664D;
}
a:visited{
	color:#7A7A52;
}
a:hover{
	color:#FFFFFF;
}
main{
	background-color:#FFFFFF;
	padding-top:1px;
	padding-right:20px;
	padding-bottom:20px;
	padding-left:30px;
	margin-left:190px;
	display:block;
}
h2 {
	color: #00664D;
	font-family:Times;
	text-shadow:1px 1px #CCCCCC;
}
h3 {
	font-family: Times;
	color: #006646;
}
dt{
	color: #00664D;
	font-weight:700;
}
main ul {
	list-style-image: url('marker.gif');
}
.barn{
	color: #5C7FA3;
	font-weight:700; 
}
footer{
	font-size:75%;
	text-align:center;
	font-family:Times;
	font-style:italic;
	padding:15px;
	margin-left:190px;
	background-color:#FFFFFF;
	display: block;
}
#contact{
	font-size:90%;
}
#wrapper{
	margin: 0 auto;
	width: 80%;
	background-color: #0C5442;
	background:linear-gradient(#FFFFFF, #0C5442);
	border: 1.5px #003300;
	min-width:900px;
	max-width:2050px;
	box-shadow:4px 4px 4px 4px #133926;
	
}
#heroHome{
	background-image: url('sunsetHorse.png');
	height:300px;
	background-size:100% 100%;
	background-repeat:no-repeat;
	margin-left:190px;
}

#heroBoard{
	background-image: url('fenceline.png');
	height:300px;
	background-size:100% 100%;
	background-repeat:no-repeat;
	margin-left:190px;
}
#heroTraining{
	background-image: url('BayBella.png');
	height:300px;
	background-size:100% 100%;
	background-repeat:no-repeat;
	margin-left:190px;
}
#mobile{
	display:none;
}
#desktop{
	display:inline;
}
figure{
	display: block;
}
figcaption{
	display: block;
}
aside{
	display: block;
}
section{
	display: block;
}
article{
	display: block;
}
@media only screen and (max-width: 64em) {
  body {
    background-color: #FFFFFF;
    margin:0;
  }
  #wrapper {
    min-width:0;
    width:auto;
    box-shadow:none;
    border:0;
  }
  header {
    padding-top:0.5em;
    padding-bottom:0.5em;
    padding-left:0.5em;
    height:auto;
  }
  h1 {
    letter-spacing:0.1em;
  }
  main {
    margin-left:0;
  }
  nav {
    float:none;
    width:auto;
    text-align:center;
    padding:0.5em;
  }
  footer{
    margin-left:0;
  }
  nav li{
    padding-top:0.25em;
    padding-bottom:0.25em;
    padding-left:0.75em;
    padding-right:0.75em;
  }
  #heroHome{
	height:200px;
	margin-left:0;
  }

  #heroBoard{
	height:200px;
	margin-left:0;
  }
  #heroTraining{
	height:200px;
	margin-left:0;
  }
}
table{
	border-width:1.5px;
	border-color: #006600;
	border-collapse: collapse;
}
td{
	border-style: solid;
	border-width: 1px;
	border-color: #006600;
	padding:0.5em;
}
th{
	border-style: solid;
	border-width: 1px;
	border-color: #006600;
	padding:0.5em;	
}
tr:nth-child(odd) {
	background-color: #ECF9EC;
}
@media only screen and (max-width: 37.5em) {
  h1 {
    font-size:90%;
  }
  main {
    padding-top:0.1em;
    padding-bottom:0.1em;
    padding-left:1em;
    padding-right:1em;
  }
  nav {
    padding:0;
  }
  nav li{
    display:block;
    margin:0;
    border-bottom: 2px #330000;
    border-style: solid;
  }
  a:link{
    display:block;
    
  }
  #heroHome{
    background-image:none;
    height:0;
  }

  #heroBoard{
    background-image:none;
    height:0;
  }
  #heroTraining{
    background-image:none;
    height:0;
  }
  #mobile{
    display:none;
  }
  #desktop{
    display:inline;
  }
}
